<html>
	<script src = "/socket.io/socket.io.js"></script>
	<script>
		const socket = io();
		socket.on('connect', () => {
			console.log('Connected');
		});
		socket.on('message', (message) => {
			let temp = document.getElementById('messages').innerHTML;
			temp += '<tr>' + '<td>' + message.username + '</td>' + '<td>' + message.data + '</td>' + '</tr>';
			document.getElementById('messages').innerHTML = temp;
		});
		let send_message = () => {
			socket.emit('post_message', {username: sessionStorage.getItem('username'), data: document.getElementById('message').value});
		}
	</script>
	<center>
		<table>
			<tr>
				<td>
					<input type = 'text' id = 'message' placeholder = 'Type your Message'>
				</td>
				<td>
					<button onclick = 'send_message()'>Post</button>
				</td>
			</tr>
		</table>
		<br>
		<br>
		<table id = 'messages' border = '5' cellspacing = '5' cellpadding = '5'>
			<tr>
				<th>Username</th>
				<th>Message</th>
			</tr>
		</table>
	</center>
</html>
